<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto margin-50">
      <h2>Edit Profile for  @<%= current_user.username %></h2>

<%= simple_form_for(current_user, as: current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :username, required: true, autofocus: true, error: 'Username is mandatory, please specify one' %>

    <%= f.input :fullname, required: true, autofocus: true, error: 'Fullname is mandatory, please specify one' %>

    <%= f.label :upload_profile_picture %>
    <%= f.file_field :avatar %>

    <label>
    <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

    </div>
  </div>
</div>
