
<h1 class="", style="color: white;">TEST SHOW RENDER</h1>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">

    <div class="col-md-2 box">
      <div class="contain">

        <div class="card">
          <img class="card-img-top" src="..." alt="Profile">

          <div class="card-block">
            <h5 class="card-title"><%= @user.fullname %></h5>
            <p class="card-text">@<%= @user.username %></p>
          </div>


        </div>

        <div class="card hash-tags">
          <div class="card-block">


      <% if @tweet.user.id == current_user.id %>
    <p><%= link_to 'Add tag', new_tweet_tag_path(@tweet), method: :get %></p>
    <p><%= link_to 'Edit Tweet', edit_tweet_path(@tweet, @tag), method: :get %></p>
    <p><%= link_to 'Delete Tweet', tweet_path(@tweet), method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?'} %></p>
    <p><%= link_to 'Back to my Tweet Feed', tweets_path, method: :get %></p>
    <p><%= link_to 'Back to Home', index_path, method: :get %></p>
  <% else %>
    <% @tweet.tags.each do |tag| %>
      <p>#<%= tag.name %></p>
    <% end %>
    <p><%= link_to 'Back to Home', index_path, method: :get %></p>
  <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-7 box">

      <div class="panel panel-default tweets ">
        <!-- Default panel contents -->
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <%= link_to @tweet.user.username, method: :get %>
              <strong><p>@<%= @tweet.user.username %> tweeted:</p></strong>
          </div>

        </div>

        <!-- List group -->
        <div class="well well-md new-tweet text-center box-show-2">
              <h4>" <%= @tweet.body %> "</h4>
              Tags: <% @tweet.tags.each do |tag| %>
          <span>
            #<%= link_to tag.name, edit_tweet_tag_path(@tweet,tag), method: :get %>
          </span>
          <% end %>
         </div>

      </div>
    </div>

  </div>
</div>

