<div class="container-fluid">

  <div class="row d-flex justify-content-center">
    <div class="col-md-2 box">
      <div class="contain">
        <div class="card">
          <img class="card-img-top" src="..." alt="Profile">
          <div class="card-block">
            <h5 class="card-title"><%= @user.fullname %></h5>
            <p class="card-text">@<%= @user.username %></p>
          </div>

          <div class="card-block">
            <ul class= "d-flex w-100 justify-content-between align-list">
              <li class="list-group-item list-item">
                <%= link_to 'Tweets', tweets_path, method: :get %>
                <%= current_user.tweets.count %></li>
              <li class="list-group-item list-item"><%= link_to 'Following', leaders_user_path(@user), method: :get %>
               <%=current_user.leaders.count %></li>
              <li class="list-group-item list-item">
                <%= link_to 'Followers', followers_user_path(@user), method: :get %>
               <%=current_user.followers.count %></li>
            </ul>
          </div>

        </div>
        <div class="card hash-tags">
          <div class="card-block">
            <h5>Hash Tags</h5>
            <hr>
            <h6>
              <% Tag.all.each do |tag| %>
                <p>#<%= tag.name %></p>
              <% end %>
            </h6>
            <h6>
              <%= link_to 'Live tweet feed', users_path, method: :get %>
            </h6>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-5 box">

      <div class="panel panel-default tweets">
        <!-- Default panel contents -->
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="well well-lg new-tweet">What's Happening?
          </div>
          <p>...</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
            <% @tweets.each do |tweet| %>
              <h6>
                <%= tweet.user.fullname %> @<%= link_to tweet.user.username, tweet_path(tweet), method: :get %>.<%=tweet.created_at.strftime(" %d %B %Y") %>
                <strong> tweeted:</strong>
              </h6>
              <br>
              <h5> <%= tweet.body %></h5>
              <% tweet.tags.each do |tag| %>
                <br>
                #<%= tag.name %>
              <% end %>
              <br>
              <hr>
            <% end %>
          </li>
          <li class="list-group-item">
            <% @leaders.each do |leader| %>
              <p>@<%= link_to leader.username, user_path(leader) %> tweeted:</p>
              <% leader.tweets.each do |tweet| %>
                <p><%= tweet.body %></p>
                <hr>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>


    </div>
    <div class="col-md-2 box text-center">

            <div class="buttons">
              <%= link_to 'New Tweet', new_tweet_path, method: :get, class: "btn btn-info" %>
            </div>
            <div class="buttons">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-info" %>
            </div>
    </div>



  </div>
</div>


<center>
  <span>-</span>
  <span>-</span>
</center>
