<div class="container-fluid margin-50">
  <div class="row d-flex justify-content-center">

    <div class="col-md-3 box">
      <div class="contain">

        <%= render partial: 'profile' %>

        <div class="card hash-tags">
          <div class="card-block">
            <div class="lower-block">
              <h5>Hash Tags</h5>
              <hr>
              <h6>
                <br>
                <% Tag.all.each do |tag| %>
                  <p>#<%= tag.name %></p>
                <% end %>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 box">
      <div class="panel panel-default tweets">

        <%= render 'tweets/tweetform' %>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
              <% @feed.each do |tweet| %>
              <div class='tweet-cont'>
                <%= link_to(image_tag(tweet.user.avatar.thumb.url, alt: 'image', class: 'thumb-img'), tweet.user.avatar.url, target: '_blank') if tweet.user.avatar? %>
                <span class="tweet-name"><%= tweet.user.fullname %> @<%= link_to tweet.user.username, tweet_path(tweet), method: :get %>.<%=tweet.created_at.strftime(" %d %B %Y") %></span>
                <h5 class="text-center"> <%= tweet.body %></h5>
                <% tweet.tags.each do |tag| %>
                  <p class="text-center">#<%= tag.name %></p>
                <% end %>
                </div>
              <% end %>
          </li>
        </ul>

      </div>
    </div>

    <div class="col-md-2 box text-center">
      <div class="buttons">
       <!--  <%= link_to 'New Tweet', new_tweet_path, method: :get, class: "btn btn-info" %> -->
      </div>
      <div class="buttons">
        <p>
          <%= link_to 'Live tweet feed!', users_path, method: :get, class: 'btn btn-danger btn-sm' %>
        </p>

        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-info" %>
      </div>
    </div>

  </div>
</div>
