<center>
  <h1>Hello <%= @user.fullname %></h1>
  <h3>Welcome Home</h3>
  <%= link_to 'New Tweet', new_tweet_path, method: :get %>
  <span>-</span>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <span>-</span>
  <%= link_to 'My tweet feed', tweets_path, method: :get %>
  <hr>
  <p>
  <% @tweets.each do |tweet| %>
  <hr>
    <h6>
      <%= tweet.user.fullname %> @<%= link_to tweet.user.username, tweet_path(tweet), method: :get %>.<%=tweet.created_at.strftime(" %d %B %Y") %>
      <strong> tweeted:</strong>
    </h6>
    <br>
    <h5> <%= tweet.body %></h5>
    <% tweet.tags.each do |tag| %>
      <br>
      #<%= tag.name %>
    <% end %>
    <br>
    <hr>
  <% end %>
  </p>
</center>
